[submodule "exercises/exercises/vostinar-cooperation-java-assignment"]
	path = exercises/exercises/vostinar-cooperation-java-assignment
	url = https://github.com/anyaevostinar/alife-assignment
[submodule "exercises/vostinar-cooperation-java-assignment"]
	path = exercises/vostinar-cooperation-java-assignment
	url = https://github.com/anyaevostinar/alife-assignment
