[submodule "exercises/alife-assignment"]
	path = exercises/alife-assignment
	url = https://github.com/anyaevostinar/alife-assignment
[submodule "exercises/exercises/vostinar-cooperation-java-assignment"]
	path = exercises/exercises/vostinar-cooperation-java-assignment
	url = https://github.com/anyaevostinar/alife-assignment
